# FastAPI Application Settings
PROJECT_NAME="hng12-stage2"
DEBUG=False
TESTING=False

# API Database Settings (used by FastAPI to connect)
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres_dev_password
DATABASE_DB=books

# Database Container Settings (used by PostgreSQL service init)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_dev_password
POSTGRES_DB=books
